
main {
  
  background-color:white;
  width: 100vh;
  height: 100vh;
  position: absolute;
  border-radius: none;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow: auto;
  border: black;
  margin-top:50px;
  border-color: black;
 
}

.ServiceName{
  display:  inline-block;
  font-weight: bold;
  text-align: center;

}
.CustomerName{
  margin-left: 5px;
  border-color: lightsteelblue;
}
.Heading{
  border-radius: none;
  top: 20px;
  width: 100%;
  text-align: center;
  background-color:blue;
  color: aliceblue;
  height: 8vh;
  }
.billamt{
  font-weight: bold;
  text-align: center;
  }
.billamt input{
  padding: 5px;
}
.billinfo{
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-self: center;
  
}
.Customerlist{
  text-align: center;

}
.Cname{
  margin-top: 25px;
  background-color:white;
  
  }


.Select{
  padding: 4px;
 width: 150px;
 align-self: center;
 margin-top: 18px;
  border-color: lightsteelblue;
}
/*.addcustomer{
  display: flex;
  justify-content: center;
  margin: 50px;
}*/


.btn1{
  background-color: rgb(19, 134, 19);
  margin-bottom: 5px;
 color:white;
  padding: 5px;
  box-shadow: 0 0 10px black;
  font-weight: bold;
margin-top:5px;
margin-left: 280px;

  
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30px;
  }
.table{
   
  margin: 15px;
  text-align: center;

}
.btn{
  background-color:lightskyblue;
  font-weight: bold;
  padding: 5px;
 color:white;
 margin-left :5px;
 box-shadow: 0 0 10px black;

}
.footer{
  background-color: rgba(3, 0, 0, 0.808);
  color: whitesmoke;
  
}
.Table{
  margin: auto;
  width: 750px;
  border:none;
}
.inputs{
  width: 700px;
  border-color:lightsteelblue;
}